<ng-include src="'top-menu.html'"></ng-include>

<div class="row" id="main-list">

    <div class="alert alert-info" role="alert">
        These resource origins and types were reported as blocked
        by your page's current Content Security Policy.
        Click on rows to see sample alert for this origin and resource combination.
        When done with all go to the <a href="#/policy/">Policy</a> tab.
    </div>

    <table class="table table-condensed">
        <thead>
        <tr>

            <th>Resource type</th>
             <th>Resource origin</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="report in db.rows track by $index" title="{{report}}" id="report-row-{{$index}}" ng-click="detail_open($index)">

            <td>{{report.key[1]}}</td>
            <td>{{report.key[2]}}</td>
        </tr>
        </tbody>
    </table>

    <div ng-show="meta">
        <div id="sample-report">

            <button type="button" class="close" ng-click="detail_close()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>

            <h3>Resource approval</h3>

            <div class="alert alert-info" role="alert">
            <u>If you recognize</u> this resource as authorised click the <strong>Approve</strong> button to add it to your policy,
            </div>

            <div class="alert alert-warning" role="alert">

                <div class="radio" ng-repeat="src in policy_sources">
                    <label>
                        <input name="policy_choice" type="radio" ng-model="$parent.policy_choice" value="{{src}}">{{policy_type}} {{src}}
                    </label>
                </div>

            </div>

            <div class="row text-center">
                <button type="button"
                        class="btn btn-success btn-default"
                        ng-click="review_source(true)"
                        title="Add this origin and resource to policy">
                    <span>Allow</span>
                </button>

                <button type="button"
                        class="btn btn-warning"
                        ng-click="review_source(false)"
                        title="Reset all approved sources">
                    <span>Disallow</span>
                </button>

            </div>

            <h3>Sample</h3>

            <ul class="list-group">
                <li class="list-group-item">
                    <small>Date received <tt>{{meta.timestamp}}</tt></small>

                <li class="list-group-item">
                    <small>User agent: <tt>{{meta.user_agent}}</tt></small>

                <li class="list-group-item">
                    <small>Remote IP: <tt>{{meta.remote_ip}}</tt></small>
            </ul>

            <pre class="pre-scrollable" id="raw-report">{{csp | json}}</pre>


        </div>
    </div>

</div>