<html lang="en" ng-app="cspbuilderApp">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style>
        #main-list {padding-bottom:400px;}
        #report-details {
            position: fixed;
            top: 0;
            right: 0;
            width: 50em;
        }
        #raw-report {
            font-size: 0.6em;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular-route.js"></script>
    <script src="/static/angular-cornercouch.js"></script>
    <script src="/static/ng-infinite-scroll.min.js"></script>
    <script src="/static/app.js"></script>
</head>

<body ng-controller="CspListCtrl">

<p>limit: {{limit}} message: {{message}}</p>

<div infinite-scroll="loadNextPage()"
     infinite-scroll-distance="0"
     infinite-scroll-immediate-check="true"
     infinite-scroll-disabled="{{data_loading}}"
     class="container" id="main-list">

    <ul>
        <li ng-repeat="row in db.rows track by row.id" ng-click="rowClick($index)">{{row.id}}
    </ul>

    <div id="report-details">
        <strong>Report details</strong>
        <ul>
            <li>{{detail.meta.remote_ip}}</li>
            <li>{{detail._id}}</li>
            <li>{{detail.page_id}}</li>
            <li>{{detail['csp-report']['blocked-uri']}}</li>
        </ul>
        <pre id="raw-report">{{detail | json}}</pre>
    </div>
    <hr>

</div>

</body>
</html>
