<ng-include src="'top-menu.html'"></ng-include>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h3>Known resources list</h3>

            <div class="row">
                <div class="alert alert-info" role="alert">
                    This table contains resource types and origins that you have previously reviewed and
                    either accepted or rejected. The <strong>accepted</strong> resources will go into the
                    CSP header generator in the <a href="#/policy/">Policy tab</a>. The <strong>rejected</strong>
                    items are purely for convenience &mdash; CspBuilder will use them to filter out items
                    that are reported in spite of your CSP header, so all kind of frames or JavaScript injected
                    into clients' browsers by spyware or adware add-ons etc.
                </div>
            </div>
        </div>

        <div class="row">
            <table class="table table-condensed">
            <thead>
                <tr>

                    <th>Known type</th>
                    <th>Known source</th>
                    <th>Action</th>
                    <th>Change</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="src in db.rows track by $index" title="{{src}}" id="report-row-{{$index}}">
                    <td>{{src.value[0]}}</td>
                    <td>{{src.value[1]}}</td>
                    <td>{{src.value[2]}}</td>
                    <td>
                        <span class="text-danger glyphicon glyphicon-remove" ng-click="delete_kl_entry($index)"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>