<ng-include src="'top-menu.html'"></ng-include>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h3>Known resources list</h3>

            <div class="row">
                <div class="alert alert-info" role="alert">
                    This table contains resource types and origins that you have previously reviewed and
                    either accepted or rejected. The <strong>accepted</strong> resources will go into the
                    CSP header generator in the <a href="#/policy/">Policy tab</a>. The <strong>rejected</strong>
                    items are purely for convenience &mdash; CspBuilder will use them to filter out items
                    that are reported in spite of your CSP header, so all kind of frames or JavaScript injected
                    into clients' browsers by spyware or adware add-ons etc.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <label for="custom-directive">Directive</label>
                    <select id="custom-directive" ng-model="custom.directive">
                    <option value="">Select</option>
                        <option ng-repeat="opt in csp_directives" value="{{opt}}">{{opt}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="custom-origin">Origin</label>
                    <input type="text" class="form-control" id="custom-origin" ng-model="custom.origin"
                           title="Enter custom CSP origin, such as SHA256 hash of inline script (see section 7.15.2 of CSP 1.1)"
                           placeholder="'sha256-qznLcsROx4GACP2dm0UCKCzCG+HiZ1guq6ZZDob/Tng='">
                </div>
                <div class="form-group">
                    <label for="custom-action">Action</label>
                    <select id="custom-action" ng-model="custom.action">
                    <option value="accept" selected>accept</option>
                        <option value="reject">reject</option>
                    </select>
                </div>
                <button type="submit" ng-click="kl_save_custom(custom)" class="btn btn-default">Add</button>
            </form>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed">
                <thead>
                <tr>

                    <th>Known type</th>
                    <th>Known source</th>
                    <th>Action</th>
                    <th>Change</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="src in db.rows track by $index" title="{{src}}" id="report-row-{{$index}}">
                    <td>{{src.value[0]}}</td>
                    <td>{{src.value[1]}}</td>
                    <td>{{src.value[2]}}</td>
                    <td>
                        <span class="text-danger glyphicon glyphicon-remove" ng-click="delete_kl_entry($index)"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>