<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <h1>Content Security Policy Builder</h1>

            <p>
                <a href="http://en.wikipedia.org/wiki/Content_Security_Policy">Content Security Policy</a>
                is a new HTML5 web security feature. Your website can now explicitly tell browsers what
                sources of content &mdash; images, scripts, frames etc &mdash; are to be trusted. A new
                <code>Content-Security-Policy</code> HTTP header is used to announce that policy.
            </p>

            <p>
                Building a new CSP in mashup era is challenging, because you use content from so many
                external sites. Add a single Facebook button or Google ad, and your browser will end up
                pulling scripts, images and frames from tens of 3<sup>
                <small>rd</small>
            </sup> party websites.
                Here's where CspBuilder comes handy.
            </p>

            <div class="alert alert-warning" role="alert">
                CspBuilder is still in <em>beta</em> which means that anyone can currently
                view anyone's reports and edit your known sources list (you just need
                to know the page id). The database of alerts can be also reset from time to time.
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">

            <h2>How it works?</h2>

            <p>
                CspBuilder is based on two key concepts: CSP report-only mode and violation reports.
                Report-only mode allows the browser to just report that a content <em>would be</em>
                blocked by your website's policy. Remote reporting allows it to send these reports
                to a remote server for analysis.
            </p>

            <p>
                <strong>CspBuilder.info is such a CSP report collection server with advanced analytics.</strong>
                You can review alerts from your website and see what content <em>would be blocked</em> under an
                initial draft policy. CspBuilder will suggest improvements, you update your policy, try again...
                and in a few steps you will end up with a CSP that can be used in production.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">

            <h2>How to start?</h2>

            <ol>

                <li>First, generate a new empty policy header with your new, unique identifier:

                    <p class="text-center" ng-hide="new_policy">

                        <button class="btn btn-xs" ng-click="new_csp()">Generic</button>
                        <button class="btn btn-xs" ng-click="new_csp('nginx')">Nginx</button>
                        <button class="btn btn-xs" ng-click="new_csp('apache')">Apache</button>
                        <button class="btn btn-xs" ng-click="new_csp('php')">PHP</button>
                        <button class="btn btn-xs" ng-click="new_csp('ror')">Ruby on Rails</button>
                        <button class="btn btn-xs" ng-click="new_csp('django')">Django</button>

                    </p>

                    <pre ng-show="new_policy">{{new_policy}}</pre>

                </li>

                <li>Add it to your web server, reload your website and click here when ready:

                    <p class="text-center">
                        <a class="btn btn-success" ng-disabled="!new_owner_id" href="/policy/{{new_owner_id}}/">Start
                            receiving alerts</a>
                    </p>
            </ol>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <h2>Login</h2>

            <p>Know your page identifier? Enter analysis portal directly:</p>

            <form class="form-inline" action="/login" method="POST" role="form">
                <label>Page identifier</label>
                <input type="text" class="form-control" placeholder="e.g. 3054681383821014136" name="owner_id">
                <button type="submit" class="btn btn-default">Sign in</button>
            </form>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <h2>Sample data</h2>

            <p>Well, this is actually real data collected from real websites, but here are
                a few samples of what kind of data you can see in CspBuilder:</p>

            <ul>
                <li><a href="/policy/0681611143285408602/">IPSec.pl and other sites of mine (id 0681611143285408602)</a>
                </li>
                <li><a href="/policy/9018643792216450862/">WebCookies.info (id 9018643792216450862)</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <h2>Contact</h2>

            <p>Ping me at <a href="https://plus.google.com/+PawełKrawczyk/">my personal page at Google+</a>.
        </div>
    </div>


</div>