<div class="row" id="policy-config">
    <h4>Configuration</h4>

    <div class="col-md-2">
        <div class="checkbox" title="In enforcement mode browsers will actually block content forbidden by CSP, which may result in significant website malfunction if CSP is incomplete. When this flag is disabled, the website will operate in Report-Only mode and browsers will only report content that would be otherwise blocked.">
            <label>
                <input type="checkbox" ng-model="csp_config.enforce">
                Enforcement mode
            </label>
        </div>
        <div class="checkbox" title="Enable this if you want to generate an initial, empty policy, blocking all content.">
            <label>
                <input type="checkbox" ng-model="csp_config.default" ng-click="default_policy()">
                Default (empty) policy
            </label>
        </div>

        <h5>Reflected XSS
            <a target="_blank" href="#/faq/#reflected-xss"><span class="glyphicon glyphicon-question-sign"
                                                                 aria-hidden="true"></span></a>
        </h5>

        <div class="radio">
            <label>
                <input type="radio" ng-model="csp_config.reflected_xss" value="none">
                None
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="csp_config.reflected_xss" value="filter" checked>
                Filter
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="csp_config.reflected_xss" value="block">
                Block
            </label>
        </div>
    </div>

    <div class="col-md-2">

        <h5>Header format
            <a target="_blank" href="#/faq/#header-format"><span class="glyphicon glyphicon-question-sign"
                                                                 aria-hidden="true"></span></a>
        </h5>

        <div class="radio">
            <label>
                <input type="radio" ng-model="csp_config.header_format" value="standard" checked>
                <code>Content-Security-Policy</code>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="csp_config.header_format" value="xcsp">
                <code>X-Content-Security-Policy</code>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="csp_config.header_format" value="webkit">
                <code>X-WebKit-CSP</code>
            </label>
        </div>
    </div>

    <div class="col-md-2">
        <h5>Referrer policy
            <a target="_blank" href="#/faq/#referrer"><span class="glyphicon glyphicon-question-sign"
                                                            aria-hidden="true"></span></a>
        </h5>

        <div class="radio">
            <label>
                <input type="radio" ng-model="csp_config.referrer" value="none" checked>
                Default
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="csp_config.referrer" value="no-referrer">
                No referrer
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="csp_config.referrer" value="no-referrer-when-downgrade">
                No referrer when downgrade
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="csp_config.referrer" value="origin">
                Origin
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="csp_config.referrer" value="origin-when-cross-origin">
                Origin when cross-origin
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="csp_config.referrer" value="unsafe-url">
                Unsafe URL
            </label>
        </div>
    </div>

    <div class="col-md-2">
        <h5>Plugin types</h5>

        <select multiple class="form-control" ng-model="csp_config.plugin_choice" ng-options="plugin_type for plugin_type in csp_config.plugin_types"></select>

    </div>


</div>