#policy-config {
    font-size: 0.8em;
}
#main-list {
    margin-top: 50px;
    width: 60%;
}
#raw-report {
    font-size: 0.7em;
}
.menu-text {
    font-weight: bold;
}
#reports-left-list {
    width: 52%;
}