#policy-config {
    font-size: 0.8em;
}
#main-list {
    margin-top: 50px;
    width: 60%;
}
#sample-report {
    position: fixed;
    top: 50px;
    right: 0;
    width: 40%;
    margin-right: 10px;
    overflow: auto;
}
#raw-report {
    font-size: 0.7em;
}
.menu-text {
    font-weight: bold;
}
#reports-left-list {
    width: 52%;
}