#policy-config {
    font-size: 0.8em;
}
#raw-report {
    font-size: 0.7em;
}
.menu-text {
    font-weight: bold;
}
#reports-left-list {
    width: 52%;
}

#reports-pop-up {
    position: absolute;
    right: 10px;
    top: 50px;
    width: 50%;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}